src/main/resources/es/acceso_a_datos/data/schema/departamento.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Departamento">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dept_no" type="xs:positiveInteger" />
                <xs:element name="dnombre" type="xs:string" />
                <xs:element name="loc" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>